{% extends "base.html" %} 

{% block body %}
<form>
  <label for="name">Name</label><br />
  <input type="text" name="name" /> <br />
  <label for="description">Description</label><br />
  <input type="text" name="description" /><br />
  Contact Email : <br />
  <input type="email" name="email" />
  <input type="submit" />
  <p id="status"></p>
  <p id="status2"></p>
</form>

{% endblock %}


{% block script %}

<script src="../Static/js/patient_login.js">
import { send_form_data } from  '../Static/js/send_form_data.js'
const form = document.querySelector("form");
const Status = document.querySelector("#status");
send_form_data( form , status ,'/admin/add/department')
</script>
{% endblock %}
