
{% extends 'base.html' %}

{% block body %}

<div class="container">

  <form >
    <div  class="m-3">
        <h3 class="text-center"> Doctor Login </h3>
      <label for="name" class="form-label"> User Name</label>
      <input type="text" name="doctor_user_name"  class="form-control" id="name"/>
    </div>
    <button type="submit" class="btn btn-danger"> Submit </button>
  </form>
  <p id="status"></p>
</div>

{% endblock %}

{% block script %}

<script type="module" >
import { send_form_data } from  '/static/js/send_form_data.js'
const form = document.querySelector("form");
const Status = document.querySelector("#status");
send_form_data( form , Status , '/doctor/login')
</script>
{% endblock %}


